<!DOCTYPE html>
<head>
    <title>Download</title>
    <link rel="stylesheet" href="../Static/css/mystyle.css">
</head>
<body style="background-color: rgb(196, 247, 230)">
    <div class="top">
        <img width="500" height="150" src="../Static/Images/Loyalist-College-Logo.png">
        <h1 style="position: absolute;top: 140px">AIR PRESSURE SYSTEM FAULT DETECTION</h>
    </div>
    <div class="output">
        <h3>Processed files:</h3>
        
        <a href="{{ url_for('download_file',filename = filename) }}"> {{ filename }}</a><br />
    </div>
</body>
